.createcard {
  /* display block is used to keep the image and the content in the same row in the create custom package card */
    display: block  ; 
    flex-direction: column;
    border: 0px solid #ffffff;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    margin-top: 15px;
    width: 94%;
    height: 25rem;
    /* height: 70%; */
    /* top: 400px; */
    /* top=400 se hemara horizontal card are placed at the coreect position from the simple */
    position: relative;
    background: linear-gradient(to left,#F12E2E,#561AA2);
    z-index: 1;
  }
  .horizontalcard{
    /* padding-top: 50px; */
    padding-left: 5%;
    z-index: 1;
    position: relative;
    /* display: flex;
    justify-content: flex-end;
    align-items: flex-end; 
    */
  }
  .createcard-image{
    /* display: ; */
    /* flex-direction: row; */
    width: 40%;
    /* Height of the image is not taking values in percentage */
    height: 100%;
    /* overflow: hidden; */
    float: right;
    clear: left;
    margin-left: 10px;
    
  }
  .createcard-content{
    padding: 10px 40px;
  }
  .createtitleRow{
    color: white;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 3rem;
    margin-left: 10px;
  }
  .createdescription{
    color: white;
    font-family: 'Inter';
    font-weight: 200;
    font-size: 1.4rem;
    margin-left: 10px;
    width: 50%;
  }
  /* .createbutton{
    margin-left: 10px;
   
    font-weight: 500;
    font-size: 1.2rem;
    color: #982372;
   
    padding: 10px 40px;git pull --all
    border-radius: 10px;
    border: none;
  } */
  /* my doubt now is how to give difeerent background color between these two horizontal cards and why the second image of free consultation is not properly loaded*/
