*{
    background-repeat: no-repeat;
    font-style: Bellefair;
  }
  .App {
    text-align: center;
  }
  /* .nav{
    padding-top: 5%;
    padding-left: 1%;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
  } */
  
  /* @media screen and (max-width: 955px){
    .navbar{
      padding-left: 150px;
    }
    .nav{
      left: 100px;
    }
    .floating-logo{
      left: 100px;
    }
  } */
  /* @media screen and (max-width: 805px){
    .navbar{
    width: 90%;
    }
  }
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  } */
  .heading{
    position: absolute;
    color: white;
    justify-content: center;
    top: 30%; /* Vertically center the text */
    left: 50%; /* Horizontally center the text */
    transform: translate(-50%, -50%); /* Center the text precisely */
    font-size: 150%;
    position: absolute;
    z-index: 2;
    line-height: 20px;
    /* top: 10%;
    left: 35%; */
    font-Family: 'Bellefair';
  }
  h1{
    font-size: 150%;
    text-align: center;
    color: white;
  }
  /* .App{
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 42%;
  } */
  .card{
    width: 100%;
    z-index: 3;
    display: flex;
    gap: 0px;
    position: absolute;
    /* padding-top: 100px; */
    /* margin-left: 50px;
    margin-right: 50px; */
    
  }
  .container{
    position: relative;
  }

  /* .background-image{
    z-index: 4;
    width: 100%;
    background-size: cover;
    background-position: center;
  } */
  
  /* .nav-and-logo {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 20px; 
  } */