 /* .footer {
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    z-index: 3;
    width: 97%;
    top: 400px;
    margin-top: 50px;
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  .companyname{
    display: flex;
    flex-direction: column;
  }
  .left h1{
    font-family: 'Bellefair';
    font-weight: normal;
    font-size: 35px;
    margin-left: 15px; 
    margin-bottom: 0px;
    text-align: left;
  }
  .left h3{
    font-family: 'Inter';
    font-weight: normal;
    font-size: 15px;
    margin-left: 15px;
    margin-top: 0px;
    text-align: left;
  }
  .horizontal-line {
    width: 16%;
    height: 1px;
    margin-top: 6%;
    margin-left: 9.5%;
    background-color: black;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 3;
  }
  .logo {
    width: 66px; 
    height: 66px;
    margin-top: 10px;
    margin-left: 150px;
  }
  
  .social-media {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 3;
  }
  
  .social-media a {
    margin-right: 10px;
  }
  
  .right {
    text-align: right;
  }
  
  .footer-info {
    display: flex;
  }
  
  .column {
    flex: 3;
  }
  
  .column p {
    margin: 0;
    padding: 5px;
  }
  
   */